button {
  height: 3rem;
  padding: 13px 20px;
  gap: 10px;
  border: 2px solid transparent;
  border-radius: var(--radius-1);
  background-color: var(--grey-2);
  cursor: pointer;
  font-weight: 600;
}

button:hover{
  background-color: var(--grey-3);
  color: var(--grey-1);
}

.button_primary {
  color: var(--grey-1);
  background-color: var(--color-primary-1);
}

.button_primary:hover {
  background-color: var(--color-primary-2);
}

.button_primary2 {
  background-color: aqua;
}

.trash {
  padding: 0;
  width: 2rem;
  height: 2rem;
  background-image: url(/src/assets/img/trash.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.trash:hover{
  background-color: #fff;
  border: 2px solid var(--grey-3);
}
