@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary-1: #FD377E;
  --color-primary-2: #E34981;
  --color-secondary: #03B898;
  --grey-1: #F8F9FA;
  --grey-2: #E9ECEF;
  --grey-3: #868E96;
  --grey-4: #212529;

  --radius-1: .5rem;
  --radius-2: .25rem;
}

.container{
  max-width: 61.75rem;
  margin: 0 auto;
}

h1{
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 126%;
}

h2{
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 126%;
}

h3{
  font-size: 1rem;
  font-weight: 700;
  line-height: 126%;
}

p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 162%;
}